@import "colors";
@import "shortenedcss";

// Container Styles.
#container {
  @include flex(flex-start, center, column);
  row-gap: 5rem;

  margin-bottom: 4rem;

  #search-area {
    @include flex(center, center, column);
    row-gap: 3rem;

    margin-top: 10rem;

    #header-area {
      font-size: 1.5rem;

      h1 {
        font-weight: 500;
      }
    }

    // Search Bar Styles.
    #search-bar-holder {
      @include flex(column, center, row);
      column-gap: 0.5rem;

      padding: 0.5rem 1rem;

      width: max-content;

      border-radius: 2rem;

      background-color: $dark-gray;

      .search-icon {
        color: $input-text-color;
      }

      #search-bar {
        flex: 1;

        font-size: 1.25rem;
        color: $input-text-color;

        width: 25rem;

        border: none;
        outline: none;

        background-color: transparent;
      }
    } // End of Search Bar Styles.
  }

  // Divider Styles (it's the line separating the search bar from the images).
  #divider {
    background-color: $divider-color;

    height: 0.01rem;
    width: 67.5%;
  } // End of Divider Styles.

  // Search Result Area Styles.
  #search-result-area {
    @include flex;
    flex-wrap: wrap;
    gap: 3rem 2rem;

    width: 80%;
    height: fit-content;

    .temp-search-holder {
      @include flex(center, center, column);
      row-gap: 0.5rem;

      .temp-search-result {
        width: 12rem;
        height: 12rem;

        border-radius: 0.5rem;

        background-color: $dark-gray;

        animation: template-holder-animation 2.5s infinite;
      }

      .temp-artist-result {
        width: 12rem;
        height: 1rem;

        border-radius: 0.5rem;

        background-color: $dark-gray;

        animation: template-holder-animation 2.5s infinite;
      }
    }

    // Went for something similar to what Dribbble has.
    .search-result {
      position: relative;

      @include flex(flex-end, center, column);
      row-gap: 0.5rem;

      .result-image {
        width: 20rem;
        height: 12.5rem;

        object-fit: cover; // Keep this to prevent image distortion in search-result div.
        border-radius: 0.5em;

        user-select: none;
        -webkit-user-drag: none;
      }

      .interact-holder {
        @include flex(space-between, center, row);
        width: 100%;

        .download-button {
          &:hover {
            color: $shaded-light-purple;
          }

          transition: color 0.2s ease;
        }
      }
    }
  } // End of Search Area Styles.
} // End of Container Styles.
