<!DOCTYPE html>
<html lang="en">

    <head>

        <title>Visual Circle</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/styles.css">
        <link rel="stylesheet" href="../../css/index.css">

        <!-- Inter Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    </head>

    <body>

        <!-- Navbar Area -->
        <section id="navbar-area">
            <a href="index.html" alt="VisualCircle homepage"><img id="logo" src="../../assets/svg/visualcircle_logo.svg" alt="VisualCircle logo - Return to homepage"></a>
            <ul id="navbar">
                <li><a href="../upload/upload.html">Upload</a></li>
                <li><a href="../search/search.html"><button class="button" id="explore-button">Explore</button></a></li>
            </ul>

        </section>
        
        <!-- Main Container -->
        <main id="container">

            <!-- Text Area -->
            <section id="text-area">

                <!-- Large Text -->
                <div class="text-holder">

                    <h1 class="large-text">Your <span style="color: rgb(127, 87, 241)">favorites</span>,</h1>
                    <h1 class="large-text">all in one <span style="color: rgb(127, 87, 241)">place</span>.</h1>

                </div>

                <div class="text-holder">

                    <p class="gray normal-text">Discover your new favorite artwork</p>
                    <p class="gray normal-text">right here.</p>

                </div>
                
                <a href="../search/search.html"><button class="button" id="explore-button">Explore</button></a>

            </section>

            <!-- Image Area -->
            <section id="image-area">

                <div class="image-holder" id="top-left-holder"></div>

                <div class="image-holder" id="top-right-holder"></div>

                <div class="image-holder" id="bottom-left-holder"></div>

                <div class="image-holder" id="bottom-right-holder"></div>

            </section>

        </main>

    </body>

</html>